.search {
  width: 1200px;
  margin: 0 auto;
  //   background-color: red;
  .search-top {
    border-bottom: 1px solid #cfcdcd;
    margin-bottom: 12px;
  }
  .search-content {
    .arrange {
      p {
        // color: red;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .content {
      .not-found {
        width: 100%;
        text-align: center;
        margin-top: 24px;
      }
    }
  }
}
